/*! ADMIN CSS */

/*! GLOBAL
 ------------------------ */
body {
    /*min-height: 100vh;*/
    /*font-family: -apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,"Segoe UI",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
}
.no-outline,
.no-outline:focus,
.no-outline:hover,
.no-outline:visited {
    outline: none !important;
}
.no-shadow,
.no-shadow:focus,
.no-shadow:hover,
.no-shadow:visited {
    box-shadow: none !important;
}

/*! LOGIN PAGE
 ------------------------ */
body.login-page .login-wrap-row {
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
}
.login-form-wrap-col-left {
    background-color: #f1f1f1;
}
body.login-page .login-form-wrap-col-right {
    min-height: 100vh;
    display: block;
    background-color: #fff;
    border: 0;
    border-left: 1px solid #ddd;
}
.login-form-wrap-col-right .login-form-wrap {
    margin-top: calc(50% - 5%);
    padding-bottom: 2em;
}
.admin-login-text {
    font-weight: lighter;
    letter-spacing: 1px;
}
.admin-submit-button,
.admin-login-form input[type=text],
.admin-login-form input[type=password] {
    font-weight: lighter;
    letter-spacing: 1px;
    outline: none;
}
.admin-login-form input[type=text]:focus,
.admin-login-form input[type=password]:focus {
    box-shadow: none;
    border-color: #999;
    outline: none;
}
.admin-submit-button:focus {
    box-shadow: none;
    outline: none;
}
.admin-checkbox-input {
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
    outline: none;
    box-shadow: none;
    z-index: 1;
    display: block;
    font-size: 13px;
    margin-bottom: 2em;
}
.admin-checkbox-input input[type=checkbox] {
    height: 0;
    width: 0;
    border: 0;
    cursor: pointer;
}
.admin-checkbox-input input[type=checkbox]:focus {
    outline: none;
}
.admin-checkbox-input input[type=checkbox]::before {
    content: '';
    background-color: #fff;
    width: 30px;
    height: 15px;
    border: 1px solid #ddd;
    display: block;
    position: absolute;
    border-radius: 15px;
    z-index: 2;
    box-shadow: inset -2px 0 0 rgba(0,0,0,0);
}
.admin-checkbox-input input[type=checkbox]:checked::before {
    box-shadow: inset 2px 0 2px rgba(0,0,0,.1);
}
.admin-checkbox-input input[type=checkbox]:focus::after {
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}
.admin-checkbox-input input[type=checkbox]::after {
    content: '';
    border: 1px solid #aaa;
    background-color: #ccc;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 16px;
    position: relative;
    display: inline-block;
    z-index: 3;
    left: 0;
    transition: all ease .1s;
}
.admin-checkbox-input input[type=checkbox]:checked::after {
    border-color: #007bff;
    background-color: #007bff;
    left: 16px;
}
.admin-checkbox-input label {
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    line-height: 1.8;
}

/*! SIDEBAR & CONTENT
 ------------------------ */
#left-area {
    float: left;
    width: 200px;
    height: 100vh;
    min-height: 300px;
    left:0;
    transition:all ease .1s;
    overflow-y: auto;
    overflow-x:hidden;
}
#admin-sidebar {
    overflow-y: auto;
    height:100%;
    padding:0;
    margin:0;
    width: auto;
    overflow-x: hidden;
    margin-right: -40px;
    padding-right: 40px;
    position:relative;
    z-index: 2;
}
#sidebar-switch {
    position:absolute;
    bottom: 0;
    height: 40px;
    background-color: #3076b1;
    width:100%;
    text-align: right;
    line-height: 40px;
    right:0;
    transition:all ease .1s;
    border-top: 1px solid rgba(0,0,0,.1);
    z-index: 3;
}
#sidebar-switch i {
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    margin: 1em;
}

#right-area {
    float: right;
    width: calc(100% - 200px);
    display:block;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: auto;
    transition:width ease .1s;
    margin: 0;
    padding: 0 15px;
}
.sidebar-menu {
    margin-top: 1em;
    margin-bottom: 60px;
}
.sidebar-menu,
.sidebar-menu ul,
.sidebar-menu li {
    list-style: none;
    margin-left: 0;
    padding-left:0;
}
.sidebar-menu {
    width:100%;
    position:relative;
}
.sidebar-menu > li {
    display: block;
}
.sidebar-menu > li > a {
    padding: 10px;
    display:block;
}
.sidebar-menu > li ul a {
    padding: 10px 15px;
    display:block;
}

.sidebar-menu > li > ul {
    display:none;
}

.sidebar-menu > li > ul > li ul {
    display:none;
}

.sidebar-menu > li.has-active-submenu > ul {
    display:block;
}
#left-area.closed {
    left: -200px;
    overflow: visible;
}
#left-area.closed + #right-area {
    margin-left:0;
    width: 100%;
}

#left-area.closed #sidebar-switch {
    right: -55px;
}


/*! SIDEBAR COLOR
 ------------------------ */
#left-area {
    background-color: #3a85c5;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    min-height: 100vh;
    height:100%;
}
#left-area.closed #sidebar-switch {
    /*     background-color: #3a85c5; */
}
#left-area,
.sidebar-menu a {
    color: #fff;
    text-decoration: none;
}

.sidebar-menu > li > ul {
    background-color: #2b76b7;
}

.sidebar-menu > li > a:hover {
    background-color: rgba(255, 255, 255, .1);
}
.sidebar-menu > li > ul > li a.active {
    background-color: rgba(0,0,0, .1);
}
.sidebar-menu > li > ul > li a:hover {
    background-color: rgba(0,0,0, .2);
}
.sidebar-menu > li.has-active-submenu > a {
    background-color: rgba(255, 255, 255, .1);
    border-right: 4px solid rgba(0,0,0,.3);
}
